html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #87e300;
  --color-secondary: #b185fc;
  --color-bg: #0a0a0a;
  --text-color: #fafafa;
}

.mt-16 {
  margin-top: 16px;
}

.profile-component {
  max-width: 60dvw;
}

.profile-component {
  &:nth-child(odd) {
    align-self: flex-start;
  }
  &:nth-child(even) {
    align-self: flex-end;
    flex-direction: row-reverse;
  }
}
